body{
	background-image: url(wall2.jpg);
	background-size: auto;
	background-position: center;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
